.rating {

  svg {

    path {
      fill: rgba($text-c, 0.125);
    }
  }

  &--awful {

    svg {

      path:nth-child(1) {
        fill: $primary-c;
      }
    }
  }

  &--bad {

    svg {

      path:nth-child(1),
      path:nth-child(2) {
        fill: $primary-c;
      }
    }
  }

  &--normal {

    svg {

      path:nth-child(1),
      path:nth-child(2),
      path:nth-child(3) {
        fill: $primary-c;
      }
    }
  }

  &--good {

    svg {

      path:nth-child(1),
      path:nth-child(2),
      path:nth-child(3),
      path:nth-child(4) {
        fill: $primary-c;
      }
    }
  }

  &--excellent {

    svg {

      path:nth-child(1),
      path:nth-child(2),
      path:nth-child(3),
      path:nth-child(4),
      path:nth-child(5) {
        fill: $primary-c;
      }
    }
  }
}
