mixin modal(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' modal--' + modsList[i].trim();
      }
    }

  .modal(id=props.id, class=allMods, style='display: none; width: 500px;')&attributes(attributes)

    if (props.subtitle)
      .modal__header
        h2.modal__title!= props.title
        p.modal__subtitle!= props.subtitle
      block

    else
      .modal__header
        h2.modal__title!= props.title
      block