.modal {
  padding: 1.5rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 2.25rem;
  }

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-family: $font-f--head;
    font-weight: 400;
    font-size: ms(1);
    line-height: 1em;
    letter-spacing: -0.01em;
    margin: 0;
    margin-left: -0.025em;

    span {
      color: $primary-c;
    }
  }

  &__subtitle {
    font-size: ms(-1);
    line-height: 1.45em;
    margin: 0;
    margin-top: 0.5rem;
    opacity: 0.75;
  }

  &__actions-help-text {
    font-size: 0.6em;
    line-height: 1.45em;
    display: block;
    margin-bottom: 0.75rem;
    opacity: 0.5;
  }

  &__actions-problem {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;

    li {
      display: inline-flex;
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;

      &:not(:last-child) {
        margin-right: 0.5rem;

        &::after {
          content: '/';
          display: inline-flex;
          margin-left: 0.5rem;
          color: currentColor;
          opacity: 0.25;
        }
      }

      a {
        display: block;
        color: currentColor;
        text-decoration: none;
        opacity: 0.75;
        transition: 125ms $transition-t;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &--centered {
    text-align: center;
  }
}
