.testimonials {

  &__intro {
    position: relative;
    background-color: $bg-c--dark;
    color: $text-c--light;
  }

  &__intro-content {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    min-height: 575px;
    padding: 4.5rem 1rem 1rem;

    @media (min-width: $screen-xs) {
      padding: 4.5rem 1rem 2.25rem;
    }

    @media (min-width: $screen-sm) {
      padding: 6rem 1rem 3rem;
    }

    @media (min-width: $screen-md) {
      padding: 7.5rem 1rem 3.75rem;
    }
  }

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;
    max-width: 30rem;
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(1.4);

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, hsla(30, 50%, 5%, 0.125) 0%, hsla(30, 50%, 5%, 0.5) 100%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: 2.25rem 1rem;

    @media (min-width: $screen-sm) {
      padding: 3rem 1.5rem;
    }

    @media (min-width: $screen-sm) {
      padding: 3.75rem 1.5rem;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }
  }

  &__item {
    position: relative;
    margin: 0;
    padding: 1.5rem 0 2.25rem;

    @media (min-width: $screen-sm) {
      padding: 3rem 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }
  }
}
