.promo {
  background-color: $bg-c--dark;
  color: $text-c--light;
  position: relative;

  &__slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  &__slide {
    position: relative;
  }

  &__slide-content {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    min-height: 90vh;
    max-height: 1080px;
    padding: 4.5rem 1rem;

    @media (min-width: $screen-sm) {
      padding: 6rem 1.5rem;
    }

    @media (min-width: $screen-lg) {
      min-height: 100vh;
      padding: 7.5rem 1.5rem;
    }
  }

  &__slide-container {
    @include container;
  }

  &__slide-subtitle {
    @include subtitle;
  }

  &__slide-title {
    font-family: $font-f--head;
    font-weight: 400;
    font-size: ms(3);
    line-height: 1em;
    letter-spacing: -0.03em;
    margin: 0 0 0.75rem -0.05em;

    span {
      color: $primary-c;
    }

    @media (min-width: $screen-lg) {
      font-size: ms(4);
    }
  }

  &__slide-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    opacity: 0.75;
    max-width: 30rem;
  }

  &__slide-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, hsla(30, 50%, 5%, 0) 0%, hsla(30, 50%, 5%, 0.25) 100%);
    }
  }

  &__slide-cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: transform 7.5s ease-out;
    transform-origin: center;

    @media (min-width: $screen-sm) {
      transition: transform 10s ease-out;
    }

    @at-root .swiper-slide-active & {
      transform: scale(1.25);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-pagination-wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    pointer-events: none;

    @media (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }
  }

  &__slider-pagination-container {
    @include container;
    display: flex;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      justify-content: flex-end;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 7.5rem;
    }
  }

  &__slider-pagination {
    pointer-events: all;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    @media (min-width: $screen-md) {
      flex-direction: column;

      &.slider-pagination .swiper-pagination-bullet {

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2.25rem;
        }
      }
    }
  }
}
