.account {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    padding: 3.75rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 0.75rem;
    position: relative;
    padding-bottom: 1.5rem;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 1.5rem;
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__section-title {
    font-size: ms(-1);
    line-height: 1.45em;
    margin: 0;
    font-weight: 500;
  }
}
