.account-actions {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-flex;
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;

    &:not(:last-child) {
      margin-right: 0.5rem;

      &::after {
        content: '/';
        display: inline-flex;
        margin-left: 0.5rem;
        color: currentColor;
        opacity: 0.25;
      }
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
    }
  }
}
