mixin account-actions(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' account-actions--' + modsList[i].trim();
      }
    }

  ul.account-actions(class=allMods)&attributes(attributes)
    li: a(href='#sign-in-modal', data-fancybox='') Вход
    li: a(href='#sign-up-modal', data-fancybox='') Регистрация