.colors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    box-sizing: border-box;
    position: relative;
    width: 1rem;
    height: 1rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 50%;
      left: 50%;
      width: 0.4rem;
      height: 0.4rem;
      transform: translate3d(-50%, -50%, 0);
      background-color: currentColor;
      border-radius: 0.4rem;
    }

    &::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid currentColor;
      opacity: 0;
      border-radius: 1rem;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &--current {

      &::after {
        opacity: 1;
      }
    }

    &--red {
      color: #d73312;
    }

    &--black {
      color: #130d06;
    }
  }
}
