mixin colors(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' colors--' + modsList[i].trim();
      }
    }

  ul.colors(class=allMods)&attributes(attributes)
    li.colors__item.colors__item--red.colors__item--current
    li.colors__item.colors__item--black