.page-header {
  position: relative;
  z-index: 100;
  padding: 0 1rem;

  @media (min-width: $screen-sm) {
    padding: 0 1.5rem;
  }

  &__container {
    @include container;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 0;

    @media (min-width: $screen-sm) {
      padding: 1rem 0;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__phone {
    display: inline-flex;
    padding-left: 1.25rem;
    position: relative;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 400;
    margin-right: 1.5rem;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 0.3rem;
      transform: translate3d(0, -50%, 0);
      background-color: $primary-c;
      animation-name: phone-point;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
    }

    @media (max-width: (450px - 1px)) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      margin-right: 3rem;
    }
  }

  &__account-actions {
    margin-right: 2.5rem;
    display: none;

    @media (min-width: $screen-sm) {
      display: inline-flex;
    }
  }

  &__shopping-cart {
    color: currentColor;

    svg {
      display: block;
      fill: currentColor;
      transform: translateY(-1px);
    }
  }

  &__burger {
    margin-left: 1.5rem;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__nav {
    position: relative;
    padding: 0.5rem 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }

    &::before {
      bottom: 100%;
    }

    &::after {
      top: 100%;
    }

    @media (min-width: $screen-sm) {
      padding: 1rem 0;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-item {
    margin: 0;
    padding: 0;
    font-size: ms(-2);
    font-weight: 500;
    line-height: 1.45em;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    a {
      color: currentColor;
      display: block;
      text-decoration: none;
      transition: 125ms $transition-t;

      &:hover {
        color: $primary-c;
        text-decoration: none;
      }
    }

    &--second-wave {
      display: none;

      @media (min-width: $screen-xs) {
        display: block;
      }
    }

    &--third-wave {
      display: none;

      @media (min-width: $screen-sm) {
        display: block;
      }
    }
  }

  &--on-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $text-c--light;
  }

  @keyframes phone-point {

    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    55% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
}
