mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      .page-header__info
        +logo('/').page-header__logo
        .page-header__phone
          span
          a(href='tel:+79099488607') +7 (909) 948-86-07
        +account-actions().page-header__account-actions
        a.page-header__shopping-cart(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
            path(fill-rule='evenodd', d='M7.01287.941176c-.81777 0-1.4807.632074-1.4807 1.411764v2.35294h4.93563V2.35294c0-.77969-.6629-1.411764-1.48067-1.411764H7.01287zM11.455 4.70588V2.35294C11.455 1.05345 10.3501 0 8.98713 0H7.01287C5.64993 0 4.54504 1.05345 4.54504 2.35294v2.35294h-.82015c-1.19267 0-2.21467.81324-2.42802 1.93204L.0405177 13.2262C-.23491 14.6705.928851 16 2.46854 16H13.5315c1.5396 0 2.7034-1.3295 2.428-2.7739l-1.2564-6.58818c-.2133-1.11881-1.2353-1.93204-2.428-1.93204h-.8201zm-.9872.94118v.94118c0 .25989.221.47058.4936.47058.2726 0 .4936-.21069.4936-.47058v-.94118h.8201c.7156 0 1.3288.48794 1.4568 1.15922l1.2564 6.58822c.1652.8666-.533 1.6643-1.4568 1.6643H2.46854c-.92381 0-1.622071-.7977-1.45681-1.6643l1.25634-6.58822c.12801-.67128.74122-1.15922 1.45682-1.15922h.82015v.94118c0 .25989.22098.47058.49357.47058s.49356-.21069.49356-.47058v-.94118h4.93563z', clip-rule='evenodd')
        +burger().page-header__burger
      nav.page-header__nav
        ul.page-header__nav-list
          li.page-header__nav-item: a(href='/') Новинки
          li.page-header__nav-item: a(href='/') Каталог
          li.page-header__nav-item: a(href='/') О нас
          li.page-header__nav-item.page-header__nav-item--second-wave: a(href='/') Отзывы
          li.page-header__nav-item.page-header__nav-item--third-wave: a(href='/') Доставка и оплата
          li.page-header__nav-item.page-header__nav-item--third-wave: a(href='/') Гарантия и возврат
          li.page-header__nav-item: a(href='/') Контакты

