@mixin text-s {
  font-size: ms(-2);
  font-weight: 500;
  line-height: 1.45em;
  margin: 0;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@mixin container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@mixin section-p {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  @media (min-width: $screen-xl) {
    padding: 6rem 1.5rem;
  }
}

@mixin subtitle {
  @include text-s;
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 0.75rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 1.5rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 0.75rem);
    width: 2.5rem;
    height: 1px;
    background-color: currentColor;
    transform: translateY(-50%);
  }
}

@mixin title {
  font-family: $font-f--head;
  font-weight: 400;
  font-size: ms(2);
  line-height: 1em;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-left: -0.025em;

  span {
    color: $primary-c;
  }
}
