.slider-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  .swiper-button-disabled {
    opacity: 0.25;
  }

  &__btn {
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: border 250ms $transition-t;
    cursor: pointer;
    outline: none;
    color: currentColor;
    vertical-align: middle;

    &::after {
      content: '';
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
    }

    svg {
      transition: 125ms $transition-t;

      path {
        stroke: currentColor;
      }
    }

    &:hover:not(.swiper-button-disabled) {
      color: $primary-c;
    }

    &--prev {
      margin-right: 1.5rem;

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}
