mixin slider-navigation(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-navigation--' + modsList[i].trim();
      }
    }

  .slider-navigation(class=allMods)&attributes(attributes)
    button.slider-navigation__btn.slider-navigation__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 47 8', width='47', height='8')
        path(stroke-linecap='round', stroke-linejoin='round', d='M1 4h45m0 0l-3-3m3 3l-3 3')
    button.slider-navigation__btn.slider-navigation__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 47 8', width='47', height='8')
        path(stroke-linecap='round', stroke-linejoin='round', d='M1 4h45m0 0l-3-3m3 3l-3 3')