mixin filters(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' filters--' + modsList[i].trim();
      }
    }

  ul.filters(class=allMods)&attributes(attributes)
    li.filters__item.filters__item--current: a(href='/') Все
    li.filters__item: a(href='/') Популярное
    li.filters__item: a(href='/') Блузки
    li.filters__item: a(href='/') Водолазки
    li.filters__item: a(href='/') Костюмы
    li.filters__item: a(href='/') Лонгсливы
    li.filters__item: a(href='/') Пальто
    li.filters__item: a(href='/') Платья
    li.filters__item: a(href='/') Рубашки
    li.filters__item: a(href='/') Сарафаны
    li.filters__item: a(href='/') Топы
    li.filters__item: a(href='/') Футболки
    li.filters__item: a(href='/') Худи