.filters {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: scroll;

  @media (min-width: $screen-md) {
    flex-direction: column;
    overflow: visible;
  }

  &__item {
    margin: 0 0.25rem 0.25rem 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;

    @media (min-width: $screen-md) {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    a {
      display: inline-block;
      padding: 0.25rem 0.75rem;
      transition: 250ms $transition-t;
      color: currentColor;
      text-decoration: none;
      background-color: rgba($bg-c--dark, 0.075);
      border-radius: 1rem;
      white-space: nowrap;

      @media (min-width: $screen-md) {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        white-space: normal;
      }

      &:hover {
        color: $primary-c;
        text-decoration: none;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      font-weight: 500;
    }

    &:nth-child(2) {

      @media (min-width: $screen-md) {
        margin-bottom: 1.5rem;
      }
    }

    &--current {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0.35rem;
        right: calc(100% + 0.75rem);
        width: 0.25rem;
        height: 0.25rem;
        background-color: $primary-c;
        border-radius: 0.25rem;
      }

      a {
        background-color: $primary-c;

        @media (min-width: $screen-md) {
          background-color: transparent;
        }
      }
    }
  }
}
