mixin mobile-menu(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' mobile-menu--' + modsList[i].trim();
      }
    }

  .mobile-menu(class=allMods)&attributes(attributes)
    .mobile-menu__container
      a.mobile-menu__phone(href='tel:+79099488607') +7 (909) 948-86-07
      button.mobile-menu__close
        span
        span
      +account-actions().mobile-menu__account-actions
      ul.mobile-menu__list.mobile-menu__list--first
        li: a(href='/') Блузки
        li: a(href='/') Водолазки
        li: a(href='/') Костюмы
        li: a(href='/') Лонгсливы
        li: a(href='/') Пальто
        li: a(href='/') Платья
        li: a(href='/') Рубашки
        li: a(href='/') Сарафаны
        li: a(href='/') Топы
        li: a(href='/') Футболки
        li: a(href='/') Худи
      ul.mobile-menu__list.mobile-menu__list--second
        li: a(href='/') Брюки
        li: a(href='/') Шорты
        li: a(href='/') Юбки