.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 250ms $transition-t;
  background-color: $bg-c--dark;
  color: $text-c--light;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4.5rem 1rem 0;
    overflow: auto;
    overflow-y: scroll;
  }

  &__close {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    margin: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    color: currentColor;

    &::before {
      content: '';
      position: absolute;
      top: -1em;
      right: -1em;
      bottom: -1em;
      left: -1em;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 1px;
      transform-origin: center;
      background-color: currentColor;

      &:first-child {
        transform:
          translate3d(-50%, -50%, 0)
          rotate(-45deg);
      }

      &:last-child {
        transform:
          translate3d(-50%, -50%, 0)
          rotate(45deg);
      }
    }
  }

  &__phone {
    display: inline-block;
    transition: 500ms $transition-t 150ms;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    color: currentColor;
    margin-bottom: 0.5rem;
    text-decoration: none;
    opacity: 0;
  }

  &__account-actions {
    transition: 500ms $transition-t 150ms;
    margin-bottom: 1.5rem;
    opacity: 0;
  }

  &__list {
    max-width: 12.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    li {
      transition: 500ms $transition-t 150ms;
      opacity: 0;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: currentColor;

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;
        }
      }
    }
  }

  &--is-open {
    opacity: 1;
    pointer-events: all;

    .mobile-menu__phone {
      transition-delay: 80ms;
      opacity: 1;
    }

    .mobile-menu__account-actions {
      transition-delay: 90ms;
      opacity: 1;
    }

    .mobile-menu__list {

      li {
        opacity: 1;
      }

      &--first {

        li {

          @for $i from 1 through 11 {

            &:nth-child(#{$i}) {
              transition-delay: 100ms + ($i * 10ms);
            }
          }
        }
      }

      &--second {

        li {

          @for $i from 1 through 11 {

            &:nth-child(#{$i}) {
              transition-delay: 210ms + ($i * 10ms);
            }
          }
        }
      }
    }
  }
}
