mixin btn(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' btn--' + modsList[i].trim();
      }
    }

  if (attributes.href)
    a.btn(class=allMods)&attributes(attributes)
      span.btn__inner.btn__inner--default
        span!= text
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 9', width='10', height='9')
          path(stroke-linecap='round', stroke-linejoin='round', d='M5 .5v8m-4-4h8')
      span.btn__inner.btn__inner--hover
        span!= text
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 9', width='10', height='9')
          path(stroke-linecap='round', stroke-linejoin='round', d='M1 4.5h8m0 0L5.5 1M9 4.5L5.5 8')

  else
    button.btn(class=allMods)&attributes(attributes)
      span.btn__inner.btn__inner--default
        span!= text
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 9', width='10', height='9')
          path(stroke-linecap='round', stroke-linejoin='round', d='M5 .5v8m-4-4h8')
      span.btn__inner.btn__inner--hover
        span!= text
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 9', width='10', height='9')
          path(stroke-linecap='round', stroke-linejoin='round', d='M1 4.5h8m0 0L5.5 1M9 4.5L5.5 8')