.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: 1px solid $primary-c;
  padding: 1rem 2rem;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  color: $text-c;
  border-radius: 0;
  font-family: $font-f;
  font-size: ms(-2);
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(1);
    transition: transform 500ms $transition-t;
    background-color: $primary-c;
    transform-origin: center bottom;
  }

  &__inner {
    display: block;
    position: relative;
    z-index: 2;
    transition:
      transform 0.5s $transition-t,
      opacity 0.25s $transition-t;
    transform-origin: center center;

    span {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 1.5rem;
    }

    svg {
      display: inline-block;
      stroke: currentColor;
      vertical-align: baseline;
    }

    &--hover {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -150%, 0);
      opacity: 0;
    }
  }

  &:hover,
  &:focus {
    color: $text-c;

    &::before {
      transform: scaleY(0);
      transform-origin: center bottom;
    }

    .btn__inner--default {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    .btn__inner--hover {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &--on-dark-bg,
  &--on-cover {

    &:hover,
    &:focus {
      color: $text-c--light;
    }
  }

  &--wide {
    width: 100%;
    padding: 1.25rem 2rem;
  }
}
