.sorting {
  font-size: ms(-1);
  line-height: 1.45em;
  display: flex;

  &__title {
    display: inline-flex;
    margin-right: 0.5rem;
    opacity: 0.5;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    display: inline-flex;
    align-items: baseline;

    svg {
      display: block;
      stroke: currentColor;
      transform: translateY(1px);
      margin-left: 0.25rem;
    }
  }
}
