mixin sorting(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sorting--' + modsList[i].trim();
      }
    }

  .sorting(class=allMods)&attributes(attributes)
    span.sorting__title Сортировать:
    a.sorting__link(href='/')
      | Цена
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 8 12', width='8', height='12')
        path(stroke-linecap='round', stroke-linejoin='round', d='M4 1v10M4 1l3 3.01437M4 1L1 4.01437')