.seo {
  @include section-p;
  background-color: $bg-c--dark;
  color: $text-c--light;

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 2rem;
      grid-template: 'by-words . by-numbers' / 6fr 1fr 5fr;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 2rem;
      grid-template: 'by-words . by-numbers' / 6fr 2fr 4fr;
    }
  }

  &__by-words {
    margin-bottom: 2.25rem;
    max-width: 30rem;

    @media (min-width: $screen-md) {
      grid-area: by-words;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;

    @media (max-width: ($screen-sm - 1px)) {
      font-size: ms(1);
      letter-spacing: -0.01em;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;
    opacity: 0.75;

    @media (min-width: $screen-lg) {
      margin-bottom: 2.25rem;
    }
  }

  &__by-numbers {

    @media (min-width: $screen-md) {
      grid-area: by-numbers;
      margin-top: 1.5rem;
    }
  }

  &__by-numbers-list {
    margin: 0;
  }

  &__by-numbers-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 0.75rem;
      }
    }
  }

  &__by-numbers-term {
    position: relative;
    margin: 0;
    font-family: $font-f--num;
    font-size: ms(3);
    font-weight: 400;
    line-height: 0.8em;
    letter-spacing: -0.01em;
    margin-right: 3rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(100% + 0.75rem);
      width: 1px;
      height: 3rem;
      transform: rotate(45deg);
      background-color: currentColor;
      transform-origin: left bottom;
    }

    @media (min-width: 375px) {
      font-size: ms(4);
      margin-right: 3.75rem;
    }

    @media (min-width: $screen-lg) {
      font-size: ms(5);
      letter-spacing: -0.02em;
    }
  }

  &__by-numbers-desc {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 400;
    margin: 0;
  }
}
