mixin sizes(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sizes--' + modsList[i].trim();
      }
    }

  ul.sizes(class=allMods)&attributes(attributes)
    li.sizes__item.sizes__item--current Xs
    li.sizes__item S
    li.sizes__item M
    li.sizes__item L
    li.sizes__item XL