.sizes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    line-height: 1.45em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.15em;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
