.socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    display: block;
    color: currentColor;
    position: relative;
    transition: 125ms $transition-t;

    &::before {
      content: '';
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
    }

    svg {
      display: block;
      fill: currentColor;
    }

    &:hover {
      color: $primary-c;
    }
  }
}
