.popular {
  @include section-p;
  overflow: hidden;

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1.5rem 1rem;
      grid-template:
        'header slider-navigation'
        'slider slider'
        'slider-progressbar slider-progressbar' / 1fr auto;
    }
  }

  &__header {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      grid-area: header;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 0;
  }

  &__slider-navigation {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      align-self: end;
      grid-area: slider-navigation;
    }
  }

  &__slider {

    @media (min-width: $screen-sm) {
      grid-area: slider;
      width: 100%;
    }
  }

  &__slider-progressbar {
    margin-top: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-top: 0;
      grid-area: slider-progressbar;
    }
  }
}
