include mixins.pug

doctype html
html(class='no-js page', lang='ru', dir='ltr')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/main.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    //- include ./../blocks/sprite-svg/img/sprite.svg

    .page__inner
      .page__content
        block header
          +page-header
          +mobile-menu()

        main.page__main
          block content
            p Page Content

        .page__modals
          +modal({ id: 'feedback-modal', title: 'Оставить отзыв' })
            +form()
              +fieldrating()
              +fieldtext({
                title: 'Комментарий',
                isTextarea: true,
                mods: '',
                val: '',
                attrs: {
                  name: 'comment',
                }
              })
              +fieldtext({
                title: 'Имя',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'Имя'
                }
              })
              +fieldtext({
                title: 'E-mail',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'E-mail'
                }
              })
              +fieldactions()
                span.modal__actions-help-text Нажимая на кнопку “Отправить”, я даю согласие на обработку персональных данных.
                +btn('Отправить', 'wide')

          +modal({ id: 'sign-up-modal', title: 'Заявка на получение доступа к оптовым ценам' })
            +form()
              +fieldtext({
                title: 'Название организации',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'Название организации'
                }
              })
              +fieldtext({
                title: 'ФИО',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'ФИО'
                }
              })
              +fieldtext({
                title: 'E-mail',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'E-mail'
                }
              })
              +fieldtext({
                title: 'Пароль',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'Пароль'
                }
              })
              +fieldtext({
                title: 'Подтвердите пароль',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'Подтвердите пароль'
                }
              })
              +fieldtext({
                title: 'Комментарий',
                isTextarea: true,
                mods: '',
                val: '',
                attrs: {
                  name: 'comment',
                }
              })
              +fieldactions()
                span.modal__actions-help-text Нажимая на кнопку “Регистрация”, я даю согласие на обработку персональных данных.
                +btn('Регистрация', 'wide')

          +modal({ id: 'sign-in-modal', title: 'Вход в личный кабинет' })
            +form()
              +fieldtext({
                title: 'E-mail',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'E-mail'
                }
              })
              +fieldtext({
                title: 'Пароль',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'Пароль'
                }
              })
              +fieldactions()
                +btn('Войти', 'wide')
                ul.modal__actions-problem
                  li: a(href='#forget-password-modal', data-fancybox='') Забыли пароль?
                  li: a(href='') Регистрация

          +modal({ id: 'forget-password-modal', title: 'Восстановление пароля', subtitle: 'Для восстановления пароля введите e-mail и проверьте почту.' })
            +form()
              +fieldtext({
                title: 'E-mail',
                mods: '',
                val: '',
                attrs: {
                  placeholder: 'E-mail'
                }
              })
              +fieldactions()
                +btn('Выслать', 'wide')

          +modal({ id: 'success-modal', title: 'Заказ успешно оформлен' }, 'centered')
            +btn('Продолжить шопиться')

      .page__footer-wrapper
        block footer
          +page-footer

    block page-bottom
      script(src='js/scripts.min.js')
      script(src='js/main.js')
