include ../blocks/account-actions/account-actions.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/colors/colors.pug
include ../blocks/filters/filters.pug
include ../blocks/form/form.pug
include ../blocks/logo/logo.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/modal/modal.pug
include ../blocks/order-card/order-card.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/product-card/product-card.pug
include ../blocks/rating/rating.pug
include ../blocks/sizes/sizes.pug
include ../blocks/slider-navigation/slider-navigation.pug
include ../blocks/slider-pagination/slider-pagination.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/socials/socials.pug
include ../blocks/sorting/sorting.pug
include ../blocks/testimonial/testimonial.pug
