.order-card {
  padding: 1rem 0;

  @media (min-width: $screen-xs) {
    display: grid;
    gap: 1rem;
    grid-template:
      'cover body'
      'cover bottom' / 1fr 2fr;
  }

  @media (min-width: $screen-sm) {
    grid-template:
      'cover body'
      'cover bottom' / minmax(auto, 180px) 2fr;
    padding: 1.5rem 0;
    gap: 1rem;
  }

  @media (min-width: $screen-lg) {
    gap: 2rem;
    grid-template:
      'cover body'
      'cover bottom' / minmax(auto, 180px) 2fr;
  }

  &__cover {
    position: relative;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-xs) {
      grid-area: cover;
      height: 100%;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;

      @media (min-width: $screen-xs) {
        padding-bottom: (4 / 3) * 100%;
      }
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    position: relative;

    @media (min-width: $screen-xs) {
      grid-area: body;
    }
  }

  &__title {
    font-family: $font-f--head;
    font-size: ms(1);
    line-height: 1em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.25rem;
    padding-right: 6rem;
  }

  &__vendor-code {
    font-size: 0.6em;
    line-height: 1.45em;
    display: block;
    margin-bottom: 0.5rem;
    opacity: 0.5;
  }

  &__features {
    margin: 0;
    padding: 0;
    margin-bottom: 0.75rem;
  }

  &__feature {
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__feature-term {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 500;
    vertical-align: top;

    &::after {
      content: ': ';
    }
  }

  &__feature-desc {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    vertical-align: top;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-xs) {
      align-self: end;
      grid-area: bottom;
    }
  }

  &__counter {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid rgba($text-c, 0.25);
  }

  &__minus,
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
  }

  &__input {
    display: inline-block;
    width: 1.5rem;
    margin: 0 1rem;
    border: none;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    background: none;
    border-radius: 0;
    text-align: center;
  }

  &__total {
    font-size: ms(0);
    font-weight: 400;
    font-family: $font-f--num;
    line-height: 1.45em;
    font-variant-numeric: lining-nums;
  }

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0.25rem 0.75rem;
    transition: 125ms $transition-t;
    font-size: 0.6em;
    line-height: 1.45em;
    opacity: 0.5;
    background-color: rgba($bg-c--dark, 0.075);
    border-radius: 1rem;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: rgba($bg-c--dark, 0.15);
    }
  }
}
