mixin order-card(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' order-card--' + modsList[i].trim();
      }
    }

  .order-card(class=allMods)&attributes(attributes)
    .order-card__cover
      img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/124220LucilleStretchLeatherLeggingBlack_2000x.jpg?v=1594029727', alt='', width='280', height='280')
    .order-card__body
      button.order-card__remove Удалить
      h3.order-card__title Название товара
      span.order-card__vendor-code Арт.: 54315-21
      dl.order-card__features
        .order-card__feature
          dt.order-card__feature-term Материал
          dd.order-card__feature-desc органический хлопок
        .order-card__feature
          dt.order-card__feature-term Цвет
          dd.order-card__feature-desc черный
        .order-card__feature
          dt.order-card__feature-term Размер
          dd.order-card__feature-desc XS
    .order-card__bottom
      .order-card__counter
        span.order-card__minus
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 2', width='12', height='2')
            path(stroke='#130D06', stroke-linecap='round', d='M1 1h10')
        input.order-card__input(type='text', value='1')
        span.order-card__plus
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 12', width='12', height='12')
            path(stroke='#130D06', stroke-linecap='round', d='M1 6h10m-5 5V1')
      .order-card__total 9 490 ₽