.catalog {
  padding: 2.25rem 1rem;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    padding: 3.75rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;
  }

  &__header {
    margin-bottom: 0.75rem;
    position: relative;
    padding-bottom: 1.5rem;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }

    @media (min-width: $screen-xs) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 2.25rem;
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-xs) {
      margin-bottom: 0;
    }
  }

  &__body {

    @media (min-width: $screen-md) {
      display: grid;
      gap: 2rem;
      grid-template: 'filters list' / 3fr 9fr;
    }
  }

  &__filters {
    margin-bottom: 0.75rem;

    @media (min-width: $screen-md) {
      grid-area: filters;
    }
  }

  &__list {
    display: grid;
    gap: 1.5rem 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      grid-area: list;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
}
