extends ../pug/layout.pug

block meta
  - var title = 'Account';
  title= title
  meta(name='description', content='')

block content
  .account
    .account__container
      .account__header
        h1.account__title Здравствуйте, Ольга
        h2.account__section-title Личные данные
      .account__body
        +form()
          +fieldtext({
            title: 'Название организации',
            mods: '',
            val: '',
            attrs: {
              placeholder: 'Название организации'
            }
          })
          +fieldtext({
            title: 'ФИО',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'ФИО'
            }
          })
          +fieldtext({
            title: 'E-mail',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'E-mail'
            }
          })
          +fieldtext({
            title: 'Пароль',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'Пароль'
            }
          })
          +fieldtext({
            title: 'Подтвердите пароль',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'Подтвердите пароль'
            }
          })
          +fieldtext({
            title: 'Комментарий',
            isTextarea: true,
            mods: '',
            val: '',
            attrs: {
              name: 'comment',
            }
          })
          +fieldactions()
            +btn('Сохранить')