extends ../pug/layout.pug

block meta
  - var title = 'Catalog';
  title= title
  meta(name='description', content='')

block content
  section.catalog
    .catalog__container
      .catalog__header
        h1.catalog__title Новинки
        +sorting().catalog__sorting
      .catalog__body
        .catalog__filters
          +filters()
        .catalog__list
          +product-card({
            image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136930-675KarliStripeShirtToastedCocount-137770-676AviaColeSkirtNewSand_768x.jpg?v=1608193178'
          })
          +product-card({
            image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136960-477MattieTwoStripeShirtBelAirBlue-112629-469BlakeNightPantSustainableNavy_768x.jpg?v=1608315122'
          })
          +product-card({
            image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/126030MattieStripeShirtSafariStripe_768x.jpg?v=1594023928'
          })
          +product-card({
            image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136330LuckySheerShirt_768x.jpg?v=1600862048'
          })
          +product-card({
            image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/131730MartinaSustainableShirtWhite_768x.jpg?v=1602147114'
          })
          +product-card({
            image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/131660-110TinaJerseyShirtCubanSand-137940-180JulesLeiaPantCroppedEcru_768x.jpg?v=1613738582'
          })