extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block content
  section.contacts
    .contacts__container
      .contacts__intro
        span.contacts__subtitle Контакты
        h1.contacts__title В чащах юга жил-был цитрус... — да, но фальшивый экземпляръ!
      .contacts__content
        span.contacts__address Раменский р-он, рп. Ильинский, ул. Чкалова 2
        ul.contacts__list
          li: a(href='tel:+79099488607') +7 909 948-86-07
          li: a(href='mailto:manitsa-brand@mail.ru') manitsa-brand@mail.ru
        +socials().contacts__socials
        .contacts__actions
          a.contacts__get-a-call(href='/') Заказать звонок
  .map
    img(src='img/map.jpg', alt='', width='320', height='510')