extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header('on-cover')
  +mobile-menu()

block content
  .promo
    .promo__slider
      .swiper-wrapper
        .promo__slide.swiper-slide
          .promo__slide-content
            .promo__slide-container
              span.promo__slide-subtitle Spring / Summer
              h2.promo__slide-title New Collection
              .promo__slide-desc
                p Однажды съев фейхоа, я, как зацикленный, ностальгирую всё чаще и больше по этому чуду.
          .promo__slide-cover
            .promo__slide-cover-wrap
              img.rellax(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/articles/136440-Zanna-O-LS-Sweat-Shirt---137110-Naomi-Ida-Shade-Jeans_2000x.jpg?v=1610026112', alt='', width='320', height='667', data-rellax-percentage='0.75', data-rellax-xs-speed='0', data-rellax-mobile-speed='0', data-rellax-tablet-speed='-3')
        .promo__slide.swiper-slide
          .promo__slide-content
            .promo__slide-container
              span.promo__slide-subtitle Automn / Winter
              h2.promo__slide-title Old Collection
              .promo__slide-desc
                p Шифровальщица попросту забыла ряд ключевых множителей и тэгов.
          .promo__slide-cover
            .promo__slide-cover-wrap
              img.rellax(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/articles/117440-Troy-Tee-SS---132450-Bradford-Worked-Jeans_2000x.jpg?v=1585049433', alt='', width='320', height='667', data-rellax-percentage='0.75', data-rellax-xs-speed='0', data-rellax-mobile-speed='0', data-rellax-tablet-speed='-3')
        .promo__slide.swiper-slide
          .promo__slide-content
            .promo__slide-container
              span.promo__slide-subtitle Spring / Summer
              h2.promo__slide-title Special Collection
              .promo__slide-desc
                p Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с техническими трудностями.
          .promo__slide-cover
            .promo__slide-cover-wrap
              img.rellax(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/articles/Staycation-header_2_2000x.jpg?v=1595239354', alt='', width='320', height='667', data-rellax-percentage='0.75', data-rellax-xs-speed='0', data-rellax-mobile-speed='0', data-rellax-tablet-speed='-3')
    .promo__slider-pagination-wrap
      .promo__slider-pagination-container
        +slider-pagination().promo__slider-pagination

  section.advantages
    .advantages__container
      span.advantages__subtitle Преимущества
      h2.advantages__title
        | Почему мы такие &#32;
        span классные
      ul.advantages__list
        li.advantages__item
          span.advantages__item-title Широкий ассортимент и что-то еще
        li.advantages__item
          span.advantages__item-title Быстрая доставка своей курьерской службой
        li.advantages__item
          span.advantages__item-title Интернет заказы принимаются 24/7
        li.advantages__item
          span.advantages__item-title Гарантия на товар, низкую цену и что-то еще

  section.application-for-access
    .application-for-access__container
      .application-for-access__cover
        .application-for-access__cover-wrap
          img.rellax(src='https://images.unsplash.com/photo-1555529771-835f59fc5efe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2734&q=80', alt='', width='280', height='390', data-rellax-speed='-3', data-rellax-percentage='0.5')
      .application-for-access__content
        span.application-for-access__subtitle Оптовые цены
        h2.application-for-access__title
          | Заявка на &#32;
          span получение доступа &#32;
          br
          | к оптовым ценам
        +form()
          +fieldtext({
            title: 'Название организации',
            mods: '',
            val: '',
            attrs: {
              placeholder: 'Ежов Лимитед'
            }
          })
          +fieldtext({
            title: 'ФИО',
            mods: '',
            val: '',
            attrs: {
              placeholder: 'Петр Михайлович Ежов'
            }
          })
          +fieldtext({
            title: 'E-mail',
            mods: '',
            val: '',
            attrs: {
              placeholder: 'ezh@ov.net'
            }
          })
          +fieldtext({
            title: 'Пароль',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: '**********'
            }
          })
          +fieldtext({
            title: 'Подтвердите пароль',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: '**********'
            }
          })
          +fieldactions()
            +btn('Отправить заявку')

  section.briefly-about-us
    .briefly-about-us__container
      .briefly-about-us__cover
        .briefly-about-us__cover-wrap
          img.rellax(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/articles/HEADER_1_137910-Rikas-Leia-Blouse---137930-Bai-Leia-Pant_1440x.jpg?v=1612363460', alt='', width='280', height='390', data-rellax-speed='-3', data-rellax-percentage='0.5')
      .briefly-about-us__content
        span.briefly-about-us__subtitle О нас
        h2.briefly-about-us__title
          | Шалящий фавн &#32;
          span прикинул объём горячих звезд &#32;
          | этих вьюжных царств
        .briefly-about-us__text
          p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
        +btn('Больше о нас')(href='/')

  section.popular
    .popular__container
      .popular__header
        span.popular__subtitle Популярное
        h2.popular__title
          span Чаще всего &#32;
          | покупают
      +slider-navigation().popular__slider-navigation
      .popular__slider
        .swiper-wrapper
          .swiper-slide
            +product-card({
              image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136930-675KarliStripeShirtToastedCocount-137770-676AviaColeSkirtNewSand_768x.jpg?v=1608193178'
            })
          .swiper-slide
            +product-card({
              image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136960-477MattieTwoStripeShirtBelAirBlue-112629-469BlakeNightPantSustainableNavy_768x.jpg?v=1608315122'
            })
          .swiper-slide
            +product-card({
              image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/126030MattieStripeShirtSafariStripe_768x.jpg?v=1594023928'
            })
          .swiper-slide
            +product-card({
              image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136330LuckySheerShirt_768x.jpg?v=1600862048'
            })
          .swiper-slide
            +product-card({
              image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/131730MartinaSustainableShirtWhite_768x.jpg?v=1602147114'
            })
          .swiper-slide
            +product-card({
              image: 'https://cdn.shopify.com/s/files/1/0318/4253/3515/products/131660-110TinaJerseyShirtCubanSand-137940-180JulesLeiaPantCroppedEcru_768x.jpg?v=1613738582'
            })
      +slider-progressbar().popular__slider-progressbar

  section.seo
    .seo__container
      .seo__by-words
        span.seo__subtitle SEO
        h2.seo__title
          | Твёрдый, как ъ, &#32;
          span но и мягкий, словно ь, &#32;
          | юноша из Бухары ищет фемину-москвичку для просмотра цветного экрана жизни
        .seo__text
          p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
        +btn('Больше о нас', 'on-dark-bg')(href='/')
      .seo__by-numbers
        dl.seo__by-numbers-list
          .seo__by-numbers-group
            dt.seo__by-numbers-term 11
            dd.seo__by-numbers-desc Лет
          .seo__by-numbers-group
            dt.seo__by-numbers-term 7 000
            dd.seo__by-numbers-desc Заказов
          .seo__by-numbers-group
            dt.seo__by-numbers-term 100
            dd.seo__by-numbers-desc Выстовок и показов