extends ../pug/layout.pug

block meta
  - var title = 'Product Page';
  title= title
  meta(name='description', content='')

block content
  .product
    .product__container
      .product__content
        .product__gallery
          .product__gallery-main.swiper-container
            .swiper-wrapper
              .product__gallery-main-slide.swiper-slide
                img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/118189_Abbey_Night_Pant_Sustainable_81c0c431-7b5c-424c-8af2-0a94b0411e44_2000x.jpg?v=1610979687', alt='', width='280', height='375')
              .product__gallery-main-slide.swiper-slide
                img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136540_2_2000x.jpg?v=1608195304', alt='', width='280', height='375')
              .product__gallery-main-slide.swiper-slide
                img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/138090-477RikasIslandBlouseBelAirBlue-137280-469SumnerDazePantAnkleNavy-137860-605MMDohaSuedeFlat_26b02bba-fa69-443f-94a6-a0756ef43e0f_2000x.jpg?v=1608237799', alt='', width='280', height='375')
          .product__gallery-thumbs.swiper-container
            .swiper-wrapper
              .product__gallery-thumbs-slide.swiper-slide
                img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/118189_Abbey_Night_Pant_Sustainable_81c0c431-7b5c-424c-8af2-0a94b0411e44_2000x.jpg?v=1610979687', alt='', width='50', height='66')
              .product__gallery-thumbs-slide.swiper-slide
                img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/136540_2_2000x.jpg?v=1608195304', alt='', width='50', height='66')
              .product__gallery-thumbs-slide.swiper-slide
                img(src='https://cdn.shopify.com/s/files/1/0318/4253/3515/products/138090-477RikasIslandBlouseBelAirBlue-137280-469SumnerDazePantAnkleNavy-137860-605MMDohaSuedeFlat_26b02bba-fa69-443f-94a6-a0756ef43e0f_2000x.jpg?v=1608237799', alt='', width='50', height='66')
          .product__gallery-progressbar-wrap
            +slider-progressbar().product__gallery-progressbar
        .product__info
          a.product__go-back(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 8', width='12', height='8')
              path(stroke-linecap='round', stroke-linejoin='round', d='M1 4h10M1 4l3.01437-3M1 4l3.01437 3', opacity='.5')
            | Брюки
          h1.product__title Название товара
          span.product__vendor-code Арт.: 54315-21
          .product__price 14 999 ₽
          .product__desc
            p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
          dl.product__features
            .product__feature
              dt.product__feature-term Материал
              dd.product__feature-desc органический хлопок
          ul.product__properties
            li.product__property.product__property--colors
              span.product__property-title Цвета
              +colors()
            li.product__property.product__property--sizes
              span.product__property-title Размеры
              +sizes()
          +btn('Добавить в корзину')