extends ../pug/layout.pug

block meta
  - var title = 'Shopping Cart';
  title= title
  meta(name='description', content='')

block content
  section.shopping-cart
    .shopping-cart__container
      h1.shopping-cart__title Корзина
      .shopping-cart__list
        .shopping-cart__item
          +order-card()
      .shopping-cart__total
        h3.shopping-cart__total-title Заказ
        dl.shopping-cart__total-details
          .shopping-cart__total-details-group
            dt.shopping-cart__total-details-term Сумма:
            dd.shopping-cart__total-details-desc 18 980 ₽
          .shopping-cart__total-details-group
            dt.shopping-cart__total-details-term Доставка:
            dd.shopping-cart__total-details-desc 0
          .shopping-cart__total-details-group.shopping-cart__total-details-group--full
            dt.shopping-cart__total-details-term Итого:
            dd.shopping-cart__total-details-desc 18 980 ₽

      +form().form.shopping-cart__form
        +fieldset('Контактные данные')
          +fieldtext({
            title: 'Имя',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'Имя',
            }
          })
          +fieldtext({
            title: 'Фамилия',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'Фамилия',
            }
          })
          +fieldtext({
            title: 'Телефон',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'Телефон',
            }
          })
          +fieldtext({
            title: 'E-mail',
            mods: 'half',
            val: '',
            attrs: {
              placeholder: 'E-mail',
            }
          })
          +fieldtext({
            title: 'Адрес',
            mods: '',
            val: '',
            attrs: {
              placeholder: 'Адрес',
            }
          })
        +fieldset('Способ оплаты')
          +fieldradio([
            {
              title: 'Наличными',
              mods: '',
              attrs: {
                name: 'payment',
                checked: true,
                id: 'radio-for-payment-1'
              }
            },
            {
              title: 'Online',
              mods: '',
              attrs: {
                name: 'payment',
                id: 'radio-for-payment-2'
              }
            },
            {
              title: 'Безналичная оплата от юридического лица',
              mods: '',
              attrs: {
                name: 'payment',
                id: 'radio-for-payment-3'
              }
            }
            ])
        +fieldset('Способ доставки')
          +fieldradio([
            {
              title: 'Доставка по Москве и МО за МКАД до 30 км — 0 руб.',
              mods: '',
              attrs: {
                name: 'delivery',
                checked: true,
                id: 'radio-for-delivery-1'
              }
            },
            {
              title: 'Доставка по МО более 30 км от МКАД (ТК СДЭК)? 0 руб.',
              mods: '',
              attrs: {
                name: 'delivery',
                id: 'radio-for-delivery-2'
              }
            },
            {
              title: 'Доставка по России (ТК ПЭК)? — 0 руб.',
              mods: '',
              attrs: {
                name: 'delivery',
                id: 'radio-for-delivery-3'
              }
            }
        ])
        +fieldactions()
          +btn('Оформить заказ', 'wide')


