extends ../pug/layout.pug

block meta
  - var title = 'Testimonials';
  title= title
  meta(name='description', content='')

block header
  +page-header('on-cover')
  +mobile-menu()

block content
  .testimonials
    section.testimonials__intro
      .testimonials__intro-content
        .testimonials__container
          span.testimonials__subtitle Нам важно ваше мнение
          h1.testimonials__title Поделитесь с нами впечатлениями о нашей компании. Будем благодарны, если вы оставите отзыв
          +btn('Написать отзыв', 'on-cover')(href='#feedback-modal', data-fancybox='')
      .testimonials__cover
        .testimonials__cover-wrap
          img.rellax(src='https://images.unsplash.com/photo-1535268244390-8b989b92d2bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80', alt='', width='320', height='575', data-rellax-speed='-3', data-rellax-percentage='0.75')
    .testimonials__body
      .testimonials__container
        ul.testimonials__list
          li.testimonials__item
            +testimonial({
              avatar: 'https://64.media.tumblr.com/720ce6f0c578835ff1f99ff493b8ddb5/tumblr_o8mr6rtuwP1sukn3wo1_1280.jpg',
              rating: 'good'
            }, '', true)
          li.testimonials__item
            +testimonial({
              avatar: 'https://64.media.tumblr.com/3546733db89df8b324be68f26d3033d7/tumblr_nx87927DdT1r4voj5o1_1280.jpg',
              rating: 'excellent'
            })
          li.testimonials__item
            +testimonial({
              avatar: 'https://64.media.tumblr.com/e021e1bf4b2488c6cc92afbe82f701f6/tumblr_oplvwlzEDt1sgafoqo1_1280.jpg',
              rating: 'bad'
            })
          li.testimonials__item
            +testimonial({
              avatar: 'https://64.media.tumblr.com/bca8e79d50e138b02949e9be43296aa3/tumblr_ohg35fp9qQ1rdy7odo1_1280.jpg',
              rating: 'awful'
            })

