mixin logo(href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  a.logo(class=allMods, href='/')&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 105 20', width='105', height='20')
      path(fill-rule='evenodd', clip-rule='evenodd', d='M56.3466 0l-1.3618 3.41195 3.1078-2.21326L56.3466 0zM11.6115 19.7253h.7968v-.0762h-.7968v.0762zM0 19.7253h.796784v-.0762H0v.0762zM84.5507 13.0327l-2.7921-.5525c-2.3305-.4813-3.4867-.891-3.4867-2.6197 0-1.76412 1.6366-2.94029 4.1797-2.94029 2.5616 0 4.1089 1.14041 4.251 2.86908h.694c-.0536-2.01385-1.7433-3.43946-4.945-3.43946-3.166 0-4.9083 1.4435-4.9083 3.56434 0 1.76413.8533 2.69053 2.9342 3.04693l2.8995.5171c2.3652.4097 3.7349.9085 3.7349 2.7442 0 1.8707-1.7426 3.2072-4.5 3.2072-2.757 0-4.7668-1.6034-4.7668-3.5458h-.7118C77.2044 18.4323 79.1438 20 82.6298 20c3.4324 0 5.2115-1.4256 5.2115-3.831 0-1.8535-.9429-2.6733-3.2906-3.1363zM99.6434 6.57862l.0185-.04472h-.8983l.0189.04472-5.3567 13.07048h.8609l4.9262-12.01917 4.9251 12.01917H105L99.6434 6.57862zM45.9906 18.6438l-8.2982-12.11H36.656V19.649h.7967V7.59504L45.7132 19.649h1.0741V6.5338h-.7967v12.11zM54.6424 19.6491h.7965V6.5339h-.7965v13.1152zM61.6459 6.53396v.78666h4.6081V19.6492h.7971V7.32062h4.6084v-.78666H61.6459zM6.20469 18.7363L1.20414 6.5339H.00004036L0 19.6491h.796784l.00004-12.00791L5.71737 19.6491h.97465L11.6116 7.64417l-.0001 12.00493h.7968l.0001-13.1152h-1.2032L6.20469 18.7363zM24.1018 6.57862L18.7459 19.6491h.8612l4.9255-12.01917 4.9255 12.01917h.8616L24.9634 6.57862l.0182-.04472h-.8983l.0185.04472z')
      path(fill-rule='evenodd', clip-rule='evenodd', d='M11.6115 19.7253h.7968v-.0762h-.7968v.0762zM0 19.7253h.796784v-.0762H0v.0762z')
