.logo {
  display: inline-flex;
  color: currentColor;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
  }

  svg {
    display: block;
    fill: currentColor;
    transform: translateY(-4px);
  }
}
