mixin product-card(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-card--' + modsList[i].trim();
      }
    }

  .product-card(class=allMods)&attributes(attributes)
    span.product-card__label New
    a.product-card__link(href='/')
      .product-card__cover
        img(src=props.image, alt='', width='280', height='375')
      h3.product-card__title Название товара
    +colors().product-card__colors
    span.product-card__price 9 490 ₽