.product-card {
  position: relative;

  &__label {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1rem;
    font-size: 0.6em;
    line-height: 1.45em;
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 0.75rem);
      width: 1rem;
      height: 1px;
      transform: translateY(-50%);
      background-color: $primary-c;
    }

    @media (min-width: $screen-sm) {
      top: 1.5rem;
      left: 1.5rem;
    }
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;
    z-index: 1;

    &:hover,
    &:focus {

      .product-card__cover img {
        transform: scale(1.05);
      }
    }
  }

  &__cover {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0.75rem;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: (4 / 3) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center;
      transition: 10s $transition-t;
    }
  }

  &__title {
    font-family: $font-f--head;
    font-weight: 400;
    font-size: ms(0);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: currentColor;
    text-decoration: none;
  }

  &__colors {
    margin-bottom: 0.5rem;
  }

  &__price {
    display: block;
    font-family: $font-f--num;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 400;
  }
}
