.page-footer {
  position: relative;
  padding: 2.25rem 1rem 1.5rem;
  background-color: $bg-c--dark;
  color: $text-c--light;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 2rem);
    max-width: 1280px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $text-c--light;
    opacity: 0.25;

    @media (min-width: $screen-sm) {
      width: calc(100% - 3rem);
    }
  }

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__top {
    display: grid;
    grid-template:
      'logo logo'
      'nav-first nav-second'
      'contacts contacts' / 1fr 1fr;
    gap: 2.25rem 1rem;

    @media (min-width: $screen-sm) {
      grid-template:
        'logo logo logo'
        'nav-first nav-second contacts' / 1fr 1fr 1fr;
      gap: 2.25rem 1rem;
    }

    @media (min-width: $screen-md) {
      grid-template: 'logo nav-first nav-second contacts' / 5fr 2fr 2fr 3fr;
      gap: 2rem;
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__nav-section {

    &--first {
      grid-area: nav-first;
    }

    &--second {
      grid-area: nav-second;
    }
  }

  &__contacts {
    grid-area: contacts;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      margin-left: auto;
    }
  }

  &__subtitle {
    @include text-s;
    margin-bottom: 1rem;
    opacity: 0.5;

    @media (min-width: $screen-xs) {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: currentColor;

        &::before {
          content: '';
          position: absolute;
          top: -0.25em;
          right: -0.25em;
          bottom: -0.25em;
          left: -0.25em;
        }

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 1px;
          transform: scaleX(0);
          transition: transform 500ms $transition-t;
          background-color: currentColor;
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__get-a-call {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $primary-c;
    font-size: ms(-1);
    line-height: 1.45em;
    margin-top: 1.5rem;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      transform: scaleX(1);
      transition: transform 500ms $transition-t;
      background-color: currentColor;
      transform-origin: center left;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-c;

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }

  &__bottom {
    margin-top: 2.25rem;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'socials address copyright' / 1fr 1fr 1fr;
      margin-top: 3rem;
      gap: 1rem;
    }

    @media (min-width: $screen-md) {
      grid-template: 'socials address address copyright' / 5fr 2fr 2fr 3fr;
      gap: 2rem;
    }
  }

  &__socials {

    @media (min-width: $screen-sm) {
      align-self: start;
      grid-area: socials;
    }

    @media (min-width: $screen-md) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: calc(100% + 2.25rem);
        left: 8px;
        width: 1px;
        height: 2.25rem;
        transform: translateX(-50%);
        background-color: $primary-c;
      }

      .socials__item {

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  &__address {
    display: block;
    font-size: 0.6em;
    line-height: 1.45em;
    opacity: 0.5;
    margin-top: 1.5rem;

    @media (min-width: $screen-sm) {
      align-self: start;
      grid-area: address;
      margin: 0;
    }

    @media (min-width: $screen-md) {
      align-self: end;
    }
  }

  &__copyright {
    display: block;
    font-size: 0.6em;
    line-height: 1.45em;
    opacity: 0.5;
    margin-top: 2.25rem;

    @media (min-width: $screen-sm) {
      align-self: start;
      grid-area: copyright;
      margin: 0;
    }

    @media (min-width: $screen-md) {
      display: flex;
      align-self: end;
      margin-left: auto;
    }
  }
}
