mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top
        .page-footer__logo
          +logo('/')
        .page-footer__nav-section.page-footer__nav-section--first
          h3.page-footer__subtitle Верхняя одежда
          ul.page-footer__list
            li: a(href='/') Блузки
            li: a(href='/') Водолазки
            li: a(href='/') Костюмы
            li: a(href='/') Лонгсливы
            li: a(href='/') Пальто
            li: a(href='/') Платья
            li: a(href='/') Рубашки
            li: a(href='/') Сарафаны
            li: a(href='/') Топы
            li: a(href='/') Футболки
            li: a(href='/') Худи
        .page-footer__nav-section.page-footer__nav-section--second
          h3.page-footer__subtitle Нижняя одежда
          ul.page-footer__list
            li: a(href='/') Брюки
            li: a(href='/') Шорты
            li: a(href='/') Юбки
        .page-footer__contacts
          h3.page-footer__subtitle Связаться
          ul.page-footer__list
            li: a(href='tel:+79099488607') +7 909 948-86-07
            li: a(href='mailto:manitsa-brand@mail.ru') manitsa-brand@mail.ru
          a.page-footer__get-a-call(href='/') Заказать звонок
      .page-footer__bottom
        +socials().page-footer__socials
        address.page-footer__address Раменский р-он, рп. Ильинский, ул. Чкалова 2
        span.page-footer__copyright © 2021 — Manitsa

