.contacts {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    padding: 3.75rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 2rem;
      grid-template: 'intro . content' / 5fr 1fr 6fr;
    }
  }

  &__intro {

    @media (min-width: $screen-lg) {
      grid-area: intro;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;
    max-width: 30rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }

  &__content {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 2.25rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-lg) {
      grid-area: content;
      gap: 2.25rem 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin-top: 3.25rem;
    }
  }

  &__address {
    display: block;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2.25rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    li {
      margin: 0;
      font-size: ms(-1);
      line-height: 1.45em;

      a {
        color: currentColor;
        text-decoration: none;
        display: inline-block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 1px;
          transform: scaleX(0);
          transition: transform 500ms $transition-t;
          background-color: currentColor;
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__socials {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% + 0.75rem);
      left: 0;
      width: 2.25rem;
      height: 1px;
      background-color: $primary-c;
    }
  }

  &__actions {
    margin-top: 2.25rem;

    @media (min-width: $screen-sm) {
      margin-top: 0;
    }
  }

  &__get-a-call {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $text-c;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% + 0.75rem);
      left: 0;
      width: 2.25rem;
      height: 1px;
      background-color: $primary-c;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      transform: scaleX(0);
      transition: transform 500ms $transition-t;
      background-color: currentColor;
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-c;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }
}
