.advantages {
  @include section-p;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: advantages;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 2.25rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    position: relative;
    margin: 0;
    padding: 1.5rem 0 0 2.5rem;

    &::before {
      content: counter(advantages, decimal-leading-zero);
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: advantages;
      font-size: ms(0);
      font-weight: 400;
      line-height: 1em;
      font-family: $font-f--num;
    }

    &::after {
      content: '';
      position: absolute;
      top: -0.5rem;
      left: 0;
      width: 1px;
      height: 3rem;
      transform: rotate(45deg);
      background-color: currentColor;
      transform-origin: left bottom;
    }

    @media (max-width: ($screen-sm - 1px)) {

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    @media (min-width: $screen-sm) {
      padding: 3.75rem 1.5rem 0 0;

      &::after {
        left: 0.75rem;
      }
    }
  }

  &__item-title {
    font-size: ms(0);
    line-height: 1.2em;
    font-weight: 400;
    font-family: $font-f--head;
    display: block;
  }
}
