.briefly-about-us {
  padding: 1.5rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 2.25rem 1.5rem;
  }

  @media (min-width: $screen-xl) {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 2rem;
      grid-template: 'cover content' / 6fr 6fr;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 2rem;
      grid-template: 'cover . content' / 6fr 1fr 5fr;
    }
  }

  &__content {
    max-width: 30rem;

    @media (min-width: $screen-md) {
      align-self: center;
      grid-area: content;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-lg) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;
    opacity: 0.75;

    @media (min-width: $screen-lg) {
      margin-bottom: 2.25rem;
    }
  }

  &__cover {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 1.5rem;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 390px;
    }

    @media (min-width: 375px) {

      &::before {
        padding-bottom: 450px;
      }
    }

    @media (min-width: $screen-md) {
      align-self: center;
      grid-area: cover;
      margin-bottom: 0;

      &::before {
        padding-bottom: (4 / 3) * 100%;
      }
    }
  }

  &__cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(1.4);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
