.about-us {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    padding: 3.75rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 3rem 2rem;
      grid-template:
        'subtitle subtitle title title title title title title . . . .'
        '. . text-first text-first text-first text-first . cover-intro cover-intro cover-intro cover-intro cover-intro'
        'cover-quote cover-quote cover-quote cover-quote cover-quote cover-quote cover-quote . blockquote blockquote blockquote blockquote'
        '. . text-second text-second text-second text-second . . . . . .'
        / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__subtitle-wrap {
    display: flex;

    @media (min-width: $screen-md) {
      display: block;
      grid-area: subtitle;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    max-width: 30rem;

    @media (min-width: $screen-md) {
      grid-area: title;
      margin-bottom: 0;
    }
  }

  &__cover {
    position: relative;
    z-index: 1;
    margin: 1.5rem 0;
    overflow: hidden;

    @media (min-width: $screen-md) {
      margin: 0;
    }

    &--intro {

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 450px;
      }

      @media (min-width: $screen-md) {
        grid-area: cover-intro;

        &::before {
          padding-bottom: (4 / 3) * 100%;
        }
      }
    }

    &--quote {
      display: none;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: (9 / 16) * 100%;
      }

      @media (min-width: $screen-md) {
        display: block;
        grid-area: cover-quote;
      }
    }
  }

  &__cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(1.4);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 0.8em;
    line-height: 1.5em;
    max-width: 30rem;

    &--first {
      align-self: center;
      grid-area: text-first;
    }

    &--second {
      grid-area: text-second;
    }
  }

  &__blockquote {
    position: relative;
    max-width: 30rem;
    margin: 2.25rem 0 1.5rem;
    font-family: $font-f--head;
    font-weight: 400;
    font-size: ms(1);
    line-height: 1.15em;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -0.5rem;
      left: -0.5rem;
      width: 60px;
      height: 50px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 25'%3E%3Cpath fill='%23EBA414' d='M7.16599 0c2.34818 0 4.04861.801281 5.10121 2.40384 1.1336 1.52244 1.7004 3.32533 1.7004 5.40866 0 1.28205-.1619 2.6442-.4858 4.0865s-.9717 2.9247-1.9433 4.4472c-.9717 1.4423-2.34822 2.9246-4.12959 4.4471C5.7085 22.2356 3.48178 23.6378.728745 25L0 23.9183c1.61943-1.5225 2.87449-2.8446 3.76518-3.9664.97166-1.1218 1.70041-2.1234 2.18624-3.0048.48583-.9615.76923-1.8429.8502-2.6442.16194-.8013.24291-1.6426.24291-2.5241 0-.641-.20243-1.1217-.60728-1.4423-.32389-.3205-.76923-.64099-1.33604-.9615-.64777-.40064-1.29554-.84134-1.94332-1.32211-.64777-.5609-.97166-1.52244-.97166-2.88462 0-1.52244.48583-2.76442 1.45749-3.72596C4.61538.48077 5.78947 0 7.16599 0zM23.1984 0c2.3482 0 4.0486.801281 5.1012 2.40384C29.4332 3.92628 30 5.72917 30 7.8125c0 1.28205-.1619 2.6442-.4858 4.0865s-.9717 2.9247-1.9434 4.4472c-.9716 1.4423-2.3076 2.9246-4.008 4.4471-1.7005 1.4423-3.9272 2.8445-6.6802 4.2067l-.7288-1.0817c1.5385-1.5225 2.7531-2.8446 3.6438-3.9664.9716-1.1218 1.7004-2.1234 2.1862-3.0048.4858-.9615.7692-1.8429.8502-2.6442.162-.8013.2429-1.6426.2429-2.5241 0-.641-.2024-1.1217-.6073-1.4423-.3239-.3205-.7692-.64099-1.336-.9615-.6478-.40064-1.2955-.88141-1.9433-1.44231-.6478-.56089-.9717-1.48237-.9717-2.76442 0-1.52244.4859-2.76442 1.4575-3.72596C20.6478.48077 21.8219 0 23.1984 0z'/%3E%3C/svg%3E");
      opacity: 0.25;

      @media (min-width: $screen-md) {
        top: 0;
        right: calc(100% + 1rem);
        left: auto;
        width: 30px;
        height: 25px;
        margin: 0;
        opacity: 1;
      }
    }

    @media (min-width: $screen-md) {
      align-self: center;
      grid-area: blockquote;
    }
  }
}
