.testimonial {

  &__inner {
    display: grid;
    gap: 0.75rem 1rem;
    grid-template:
      'avatar rating'
      'text text'
      'author author' / auto 1fr;

    @media (min-width: $screen-sm) {
      gap: 0.75rem 2.25rem;
      grid-template:
        'avatar rating'
        'avatar text'
        'avatar author' / auto 1fr;
    }
  }

  &__avatar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: avatar;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $primary-c;
    padding: 0.25rem;
    transform: translate3d(-0.25rem, 0, 0);
    border-radius: 3.75rem;

    @media (min-width: $screen-sm) {
      width: 3.75rem;
      height: 3.75rem;
      transform: translate3d(0, -0.25rem, 0);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3.75rem;
    }
  }

  &__rating {
    display: flex;
    align-self: center;
    grid-area: rating;
  }

  &__text {
    font-size: ms(-1);
    line-height: 1.45em;
    grid-area: text;
    max-width: 37.5rem;

    @media (min-width: $screen-sm) {
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }

  &__author {
    font-size: ms(-1);
    line-height: 1.45em;
    grid-area: author;
    font-weight: 400;
    margin: 0;

    span {
      font-weight: 500;
    }
  }

  &__answer {
    margin-top: 1.5rem;
    display: grid;
    gap: 0.75rem 1rem;
    grid-template:
      'answer-avatar'
      'answer-text'
      'answer-author' / 1fr;

    @media (max-width: ($screen-sm - 1px)) {
      padding-left: 1rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $primary-c;
      }
    }

    @media (min-width: $screen-sm) {
      margin-top: 2.25rem;
      margin-left: 5.75rem;
      gap: 0.75rem 2.25rem;
      grid-template:
        'answer-avatar answer-text'
        'answer-avatar answer-author' / auto 1fr;
    }
  }

  &__answer-avatar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: answer-avatar;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $primary-c;
    padding: 0.25rem;
    transform: translate3d(-0.25rem, 0, 0);
    border-radius: 3.75rem;

    svg {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $screen-sm) {
      width: 3.75rem;
      height: 3.75rem;
      transform: translate3d(0, -0.25rem, 0);
    }
  }

  &__answer-text {
    grid-area: answer-text;
    font-size: ms(-1);
    line-height: 1.45em;
    max-width: 37.5rem;

    @media (min-width: $screen-sm) {
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }

  &__answer-author {
    display: flex;
    grid-area: answer-author;
  }
}
