mixin testimonial(props, mods, hasAnswer)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' testimonial--' + modsList[i].trim();
      }
    }

  article.testimonial(class=allMods)&attributes(attributes)

    if (hasAnswer)
      .testimonial__inner
        .testimonial__avatar
          img(src=props.avatar, alt='', width='40', height='40')
        +rating(props.rating).testimonial__rating
        .testimonial__text
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
        h3.testimonial__author
          span Ольга Визиткина
          | , 2 дня назад
      .testimonial__answer
        .testimonial__answer-avatar
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 44 44', width='44', height='44')
            circle(cx='22.0008', cy='22.0001', r='21.4286', fill='#D79612')
            path(stroke='#130D06', d='M31.0909 12.9086L12.9082 31.0913')
        .testimonial__answer-text
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
        .testimonial__answer-author
          +logo('/')

    else
      .testimonial__inner
        .testimonial__avatar
          img(src=props.avatar, alt='', width='40', height='40')
        +rating(props.rating).testimonial__rating
        .testimonial__text
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
        h3.testimonial__author
          span Ольга Визиткина
          | , 2 дня назад