.burger {
  display: block;
  position: relative;
  width: 35px;
  height: 20px;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  color: currentColor;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -1em;
    right: -1em;
    bottom: -1em;
    left: -1em;
  }

  &:hover {

    .burger__inner {

      &:first-child {
        width: 25px;
        transform:
          translate3d(-10px, calc(-50% - 3px), 0)
          scaleX(0.8);
      }

      &:last-child {
        width: 35px;
        transform:
          translate3d(15px, calc(-50% + 3px), 0)
          scaleX(0.6);
      }
    }
  }

  &__inner {
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    transition: 500ms $transition-t;
    background-color: currentColor;
    transform-origin: center left;

    &:first-child {
      width: 25px;
      transform: translate3d(0, calc(-50% - 3px), 0);
    }

    &:last-child {
      width: 35px;
      transform: translate3d(0, calc(-50% + 3px), 0);
    }
  }
}
