.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;



  &__fieldset {

    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-width: 0;

    max-width: 100%;
    margin: 0;
    border: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 2.25rem;

      @media (min-width: $screen-lg) {
        margin-bottom: 3rem;
      }
    }
  }

  &__legend {
    @include title;
    flex: 0 0 auto;
    width: 100%;

    max-width: 100%;
    margin-bottom: 1.5rem;
    white-space: normal;
  }



  &__label {
    display: block;
    flex: 0 0 auto;
    position: relative;
    width: 100%;

    max-width: 100%;
    margin-bottom: 1.5rem;

    &--half {

      @media (min-width: $screen-lg) {
        width: 50%;

        &:nth-child(even) {
          padding-right: 1rem;
        }

        &:nth-child(odd) {
          padding-left: 1rem;
        }
      }
    }
  }

  &__input-title {
    font-weight: 500;
    font-size: ms(-2);
    text-transform: uppercase;
    line-height: 1.45em;
    letter-spacing: 0.15em;
    display: block;
  }

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px 0;
    vertical-align: middle;
    font-size: ms(-1);
    line-height: 1.45em;
    border-radius: 0;
    font-family: $font-f;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    color: currentColor;

    &::placeholder {
      font-family: $font-f;
      color: currentColor;
      opacity: 0.25;
    }

    &:focus {
      outline: none;
      border-color: $primary-c;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: 140px;
      border: 1px solid currentColor;
      padding: 15px 20px;
      resize: vertical;
      margin-top: 10px;
    }
  }



  &__radio {
    $block-name: &;
    display: block;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  &__radio-wrap {
    border-top: 1px solid $border-c;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 1px solid $border-c;
    }

    @media (min-width: $screen-md) {
      padding: 1.5rem 0;
    }
  }

  &__radio-label {
    display: flex;
    position: relative;
    margin-right: 0.5rem;
    padding-left: 2rem;
    cursor: pointer;
  }

  &__radio-text {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    line-height: 1.45em;
    font-size: ms(-1);

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid currentColor;
      border-radius: 20px;
      transition: 0.125s $transition-t;

      @at-root input:checked ~ & {
        border: 1px solid $primary-c;
      }
    }

    @at-root input:checked ~ & {
      opacity: 1;
    }

    @at-root input:focus ~ &:before {
      outline: 0;
      box-shadow: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      width: 14px;
      height: 14px;
      opacity: 0;
      border-radius: 50%;
      background-color: $primary-c;
      transition: 0.125s $transition-t;

      @at-root input:checked~& {
        opacity: 1;
      }
    }
  }

  &__radio-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }



  &__rating {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    border: 1px solid $border-c;
    padding: 0.75rem 1rem;
    background-color: #f2f2f2;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      padding: 0.75rem 1.5rem;
    }
  }

  &__rating-title {
    font-size: ms(-1);
    line-height: 1.45em;
    display: block;
  }

  &__rating-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    color: rgba($text-c, 0.25);

    &:hover,
    .form__rating-input:nth-of-type(1):checked ~ .form__rating-label:nth-of-type(1),
    .form__rating-input:nth-of-type(2):checked ~ .form__rating-label:nth-of-type(-n+2),
    .form__rating-input:nth-of-type(3):checked ~ .form__rating-label:nth-of-type(-n+3),
    .form__rating-input:nth-of-type(4):checked ~ .form__rating-label:nth-of-type(-n+4),
    .form__rating-input:nth-of-type(5):checked ~ .form__rating-label:nth-of-type(-n+5) {
      color: $primary-c;
    }
  }

  &__rating-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  &__rating-label {
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      padding-right: 1rem;
    }

    svg {
      display: block;
      fill: currentColor;
    }

    &:hover ~ .form__rating-label {
      color: rgba($text-c, 0.25);
    }
  }



  &__actions {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 0.75rem;
  }
}
