mixin form(mods)

  //- Use:
    +form()
      +fieldset('legend')
        +fieldtext({
          title: 'title',
          mods: '',
          val: '',
          attrs: {
            name: 'comment',
          }
        })
        +fieldradio([
          {
            title: 'title',
            mods: '',
            attrs: {
              name: 'radio',
              checked: true,
              id: 'radio-1'
            }
          },
          {
            title: 'title',
            mods: '',
            attrs: {
              name: 'radio',
              id: 'radio-2'
            }
          }
        ])

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form--' + modsList[i].trim();
      }
    }

  form.form(class=allMods)&attributes(attributes)
    block



mixin fieldset(legend, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form__fieldset--' + modsList[i].trim();
      }
    }

  fieldset.form__fieldset(class=allMods)&attributes(attributes)
    legend.form__legend!= legend
    block



mixin fieldtext(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form__label--' + modsList[i].trim();
      }
    }

  label.form__label(class=allMods)&attributes(attributes)
    span.form__input-title!=props.title
    span.form__input-wrap

      if (typeof(props.isTextarea) !== 'undefined' && props.isTextarea)
        textarea.form__input&attributes(props.attrs)= props.val

      else
        input.form__input(type=(typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'text', value=props.val)&attributes(props.attrs)


mixin fieldradio(radiobuttons, title)

  .form__radio&attributes(attributes)

    each radio in radiobuttons

      -
        var allMods = '';
        if (typeof(radio.mods) !== 'undefined' && radio.mods) {
          var modsList = radio.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' form__radio-wrap--' + modsList[i].trim();
          }
        }

      .form__radio-wrap(class=allMods)
        label.form__radio-label
          input.form__radio-input(type='radio')&attributes(radio.attrs)
          span.form__radio-text!= radio.title



mixin fieldrating(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form__rating--' + modsList[i].trim();
      }
    }

  .form__rating
    span.form__rating-title Ваша оценка
    span.form__rating-wrap
      input.form__rating-input(type='radio', name='rating', id='rating-1')
      input.form__rating-input(type='radio', name='rating', id='rating-2')
      input.form__rating-input(type='radio', name='rating', id='rating-3')
      input.form__rating-input(type='radio', name='rating', id='rating-4')
      input.form__rating-input(type='radio', name='rating', id='rating-5')
      label.form__rating-label(for='rating-1')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.form__rating-label(for='rating-2')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.form__rating-label(for='rating-3')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.form__rating-label(for='rating-4')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.form__rating-label(for='rating-5')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')



mixin fieldactions(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form__actions--' + modsList[i].trim();
      }
    }

  .form__actions(class=allMods)&attributes(attributes)
    block