mixin slider-pagination(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-pagination--' + modsList[i].trim();
      }
    }

  .slider-pagination(class=allMods)&attributes(attributes)