.slider-pagination {
  display: flex;
  align-items: center;

  .swiper-pagination-bullet {
    position: relative;
    width: 0.25rem;
    height: 0.25rem;
    outline: none;
    opacity: 1;
    background: transparent;
    color: currentColor;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.75rem;
      height: 0.75rem;
      border: 1px solid $primary-c;
      transform: translate3d(-50%, -50%, 0) scale(0);
      transition: 500ms $transition-t;
      border-radius: 0.75rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.25rem;
      height: 0.25rem;
      transform: translate3d(-50%, -50%, 0) scale(1);
      transition: 500ms $transition-t;
      border-radius: 0.25rem;
      background-color: currentColor;
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 2.25rem;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(#fff, 0);

    &::before {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }

    &::after {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }
  }
}
