.product {
  padding: 1rem 1rem 2.25rem;

  @media (min-width: $screen-sm) {
    padding: 1.5rem 1.5rem 3rem;
  }

  @media (min-width: $screen-md) {
    padding: 2.5rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;
  }

  &__content {

    @media (min-width: $screen-md) {
      display: grid;
      gap: 2rem;
      grid-template: 'gallery info' / 7fr 5fr;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 2rem;
      grid-template: 'gallery . info' / 6fr 1fr 5fr;
    }
  }

  &__gallery {
    position: relative;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-md) {
      display: grid;
      grid-area: gallery;
      grid-template: 'thumbs main' / auto 1fr;
      height: 600px;
      gap: 2rem;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      height: 680px;
    }
  }

  &__gallery-thumbs {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      grid-area: thumbs;
    }
  }

  &__gallery-thumbs-slide {
    position: relative;
    width: 2.5rem;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 250ms $transition-t;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: (4 / 3) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  &__gallery-main {
    position: relative;
    z-index: 1;
    width: 100%;

    @media (min-width: $screen-md) {
      grid-area: main;
    }
  }

  &__gallery-main-slide {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: (4 / 3) * 100%;

      @media (min-width: $screen-xs) {
        padding-bottom: 540px;
      }
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__gallery-progressbar-wrap {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);

    @media (min-width: $screen-md) {
      bottom: 0;
      left: calc(2.5rem + 1rem);
      width: 1px;
      height: 100%;

      .product__gallery-progressbar {
        height: 100%;
      }
    }
  }

  &__info {
    grid-area: info;
  }

  &__go-back {
    font-size: 0.6em;
    line-height: 1.45em;
    display: inline-flex;
    align-items: baseline;
    text-decoration: none;
    color: currentColor;
    opacity: 0.5;
    margin-bottom: 0.5rem;

    svg {
      display: block;
      stroke: currentColor;
      margin-right: 0.75rem;
    }
  }

  &__title {
    @include title;
    margin-bottom: 0.25rem;
  }

  &__vendor-code {
    display: block;
    font-size: 0.6em;
    line-height: 1.45em;
    margin-bottom: 0.75rem;
    opacity: 0.5;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.75rem;
    opacity: 0.75;
  }

  &__features {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  &__feature {
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__feature-term {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 500;
    vertical-align: top;

    &::after {
      content: ': ';
    }
  }

  &__feature-desc {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    vertical-align: top;
  }

  &__properties {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1rem;
      grid-template: 'colors sizes' / 1fr 1fr;
    }

    @media (min-width: $screen-md) {
      gap: 2rem;
      grid-template: 'colors sizes' / 1fr 1fr;
      margin-bottom: 2.25rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }
  }

  &__property {
    position: relative;
    padding: 1rem 0;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }

    &--colors {

      @media (min-width: $screen-sm) {
        grid-area: colors;
      }
    }

    &--sizes {

      @media (min-width: $screen-sm) {
        grid-area: sizes;
      }
    }
  }

  &__property-title {
    @include text-s;
    display: block;
    margin-bottom: 0.75rem;
  }

  &__price {
    font-family: $font-f--num;
    font-size: ms(1);
    line-height: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 2.25rem;
    }
  }
}
