.shopping-cart {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    padding: 3.75rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 0 2rem;
      grid-template:
        'title title'
        'list total'
        'form .' / 8fr 4fr;
    }
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 2.25rem;
      grid-area: title;
    }
  }

  &__list {
    position: relative;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      align-self: start;
      grid-area: list;
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }
  }

  &__item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }
  }

  &__total {
    border: 1px solid currentColor;
    padding: 1.5rem 1rem;

    @media (min-width: $screen-md) {
      align-self: start;
      grid-area: total;
      padding: 1.5rem 2.25rem;
    }
  }

  &__total-title {
    font-family: $font-f--head;
    font-size: ms(1);
    line-height: 1em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__total-details {
    margin: 0;
    padding: 0;
  }

  &__total-details-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &:last-child {
      position: relative;
      margin-top: 1rem;
      padding-top: 1rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        opacity: 0.25;
      }

      @media (min-width: $screen-sm) {
        margin-top: 3rem;
        padding-top: 1.5rem;
      }
    }
  }

  &__total-details-term {
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;
  }

  &__total-details-desc {
    font-size: ms(0);
    line-height: 1.45em;
    font-family: $font-f--num;
    font-variant-numeric: lining-nums;
  }

  &__form {
    padding-top: 2.25rem;

    @media (min-width: $screen-md) {
      grid-area: form;
      padding-top: 4.5rem;
    }
  }

  &__form-subtitle {
    @include title;
    margin-top: 2.25rem;
    margin-bottom: 0;
  }

  &__form-actions {
    margin-top: 1.5rem;
  }
}
